:root {
    --background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --title-color: #212121;
    --header-text-color: #212121;
    --hero-text-color: #FFFFFF;
    --hero-background-color: #2F303A;
    --text-color: #757575;
    --gorizontal-header-line: #ECECEC;
    --footer-color: #2F303A;
    --filter-btn-bgcolor: #F5F4FA;
    --footer-text-color: #FFFFFF;
    --dark-text-logo: #212121;
    --light-text-logo: #FFFFFF;
    --btn-color-active: #188CE8;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--title-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.button {
    cursor: pointer;
    border: 0;
}

.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: calc(30.52/26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.dark-logo {
    color: var(--dark-text-logo);
}

.header-link {
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16.41/14);
    letter-spacing: 0.02em;
    color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contacts-link {
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16.41/14);
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/*---------HERO---------*/

.hero-section {
    background-color: var(--hero-background-color);
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

.hero-btn {
        font-weight: 700;
        line-height: calc(30/16);
        letter-spacing: 0.06em;
        color: var(--hero-text-color);
        border-radius: 4px;
        background: var(--accent-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--btn-color-active);
}
